/*
  1. Board page styles 
  2. Board page settings styles 
  3. Mobile first media queries 
*/

/* 1. Board page styles */
.board-page-title {
	margin-top: 3rem;
	padding: 3rem 0 2rem;
}

.board-container {
	text-align: center;
	width: 90%;
	margin: 0 auto;
}

.layout-one {
	margin-bottom: 3rem;
}

/* Image & Editable Text elements */
.image-text {
	display: grid;
	grid-template-columns: 1fr;
	align-items: center;
	justify-content: center;
	gap: 1rem;
	margin-bottom: 2rem;
	padding: 1rem;
	background-color: var(--primary-muted-2);
	border: 1px solid var(--primary-muted-1);
}

.regular {
	width: 100%;
	height: auto;
	display: block;
	justify-self: center;
}

.editable {
	text-align: left;
	color: var(--dark-gray);
	caret-color: var(--primary);
	padding: 1rem;
	background-color: var(--white);
	outline: 1px solid var(--primary-muted-1);
	max-height: 32rem; /* Limit editor height; allow for scrollbar */
	overflow-y: auto; /* Allow vertical scrolling when content exceeds max-height */
	transition: box-shadow 300ms ease;
}

.editable:focus {
	outline: 1px solid transparent;
	box-shadow: 4px -4px 8px var(--primary-muted-1);
}

/* Thumbnail styles */
.thumbnails-btn {
	display: inline-block;
	font: inherit;
	line-height: 1.1;
	color: var(--dark-gray);
	max-width: 16rem;
	padding: 0.375rem 0.75rem;
	background-color: transparent;
	border: 2px solid var(--primary-muted-2);
	border-radius: 0.25rem;
	cursor: pointer;
	position: absolute;
	top: 8.5rem;
	left: 10.75rem;
	transition:
		color 300ms ease,
		background-color 300ms ease;

	&:hover {
		color: var(--white);
		background-color: var(--primary);
	}

	&:focus-visible {
		color: var(--black);
		background-color: var(--accent-3);
		outline: 2px solid var(--accent-3);
	}
}

.thumbnails {
	position: fixed; /* Stick to viewport */
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	width: 250px; /* Fixed width for thumbnails column */
	max-height: 100vh; /* Prevents strip from exceeding viewport height */
	background-color: var(--primary-muted-3);
	border: 1px solid var(--primary);
	box-shadow: 4px 0 10px hsl(146deg 20% 20% / 20%);
	top: 0;
	right: 0;
	overflow-y: auto; /* Scroll vertically if there are many thumbnails */
	overflow-x: visible;
	z-index: 2;
	transition:
		transform 0.3s ease,
		opacity 0.3s ease;

	img {
		width: 150px; /* Fixed width for thumbnail images */
		height: auto;
		transition: opacity 300ms ease;

		&:hover {
			cursor: pointer;
			opacity: 0.8;
		}
	}
}

.thumbnails.offscreen {
	pointer-events: none; /* Prevent interactions while hidden */
	opacity: 0; /* Hidden by default */
	padding: 0.25em 0.375em;
	transform: translateX(100%); /* Move strip offscreen to the right */
}

/* visible */
.thumbnails.onscreen {
	transform: translateX(0); /* Slide into view */
	opacity: 1;
	pointer-events: auto; /* Enable interactions */
	padding: 0.25em 0.375em;
}

.thumbnails > * {
	border: 1px solid hsl(146deg 30% 50%);
	transition: opacity 0.3s ease;
}

/* thumbnails elements */
.thumb-item {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0.5rem;
	padding: 0.5rem 0;
	background-color: var(--white);
}

.thumb-btns {
	display: flex;
	flex-direction: column;
	gap: 0.75rem;
	opacity: 0; /* Hidden by default */
	pointer-events: none; /* Disable interaction until thumbnail is selected */
}

.thumb-item.selected .thumb-btns {
	opacity: 1;
	pointer-events: auto; /* Enable clicking when visible */
}

.thumb-btns button {
	cursor: pointer;
	align-self: center;
	font-size: 1.125rem;
	line-height: 1;
	min-width: 24px;
	min-height: 24px;
	background-color: var(--white);
	border: 1px solid var(--primary-muted-1);
	border-radius: 4px;
	transition:
		background-color 300ms ease,
		color 300ms ease;
	padding: 0.125em;

	&:hover {
		background-color: var(--primary);
		color: var(--white);
	}

	&:active {
		background-color: var(--accent-5);
	}
}

.move-down,
.move-up {
	color: var(--primary-dark-1);
}

.delete {
	color: var(--red);
}

.show-in-slider {
	transform: scale(1.2);
}

/* Thumbnails Delete confirmation modal */
.thumb-modal-container {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgb(0 0 0 / 60%);
	z-index: 100;
}

.thumb-modal-container.show-modal {
	display: block;
}

.thumb-modal {
	width: 19em;
	max-width: 100%;
	background-color: var(--white);
	box-shadow: 0 0 10px rgb(0 0 0 / 30%);
	border-radius: 0.5rem;
	position: absolute;
	overflow: hidden; /* Prevent content from spilling outside modal */
	top: 50%; /* Center vertically */
	left: 50%; /* Center horizontally */
	transform: translate(-50%, -50%); /* Center modal on screen */
	animation-name: modal2open;
	animation-duration: 1000ms;
}

.thumb-modal-btn {
	cursor: pointer;
	color: var(--text);
	margin: 2em 1em 1em;
	padding: 0.25em 0.5em;
	background-color: transparent;
	border-radius: 5px;
	border: 2px solid var(--primary-muted-2);
	transition:
		color 300ms ease,
		background-color 300ms ease,
		border 300ms ease;

	&:hover {
		color: var(--white);
		background-color: var(--primary);
		border: 2px solid transparent;
	}
}

.modal-header {
	padding: 0.5rem;
	background-color: var(--primary-dark-1);

	h3,
	p {
		text-align: center;
		color: var(--white);
		margin-bottom: 0.5rem;
	}
}

.modal-content {
	display: flex;
	align-items: center;
	justify-content: center;

	button {
		width: 25%;
	}
}

/* the div housing the img and blockquote */
.img-quote {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 1rem;
	max-width: 90%;
	margin: 0 auto;
}

/* the blockquote */
.editable-quote {
	font-weight: 500;
	font-style: italic;
	text-align: center;
	padding: 0 0.5rem;
}

@keyframes modal2open {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

/* 2. Board page settings styles */
.settings-form {
	position: fixed; /* Pin form to viewport, visible while scrolling */
	top: 11.5rem;
	left: 0;
	z-index: 1000;
	display: grid;
	grid-template-columns: 1fr;
	justify-content: center;
	gap: 0.75rem;
	width: 20.5rem;
	padding: 0.75rem;
	background-color: var(--primary-muted-3);
	border: 1px solid var(--primary-dark-2);
	border-radius: 0.25rem;
	transition: transform 350ms ease;
}

.offscreen {
	transform: translateX(-100%);
}

.onscreen {
	transform: translateX(1rem);
}

.edit-input {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

/* settings-btn */
.settings-btn {
	font-size: 1.125rem;
	font: inherit;
	line-height: 1.1;
	color: var(--dark-gray);
	cursor: pointer;
	position: absolute;
	top: 8.5rem;
	left: 1rem;
	min-width: 8.5rem;
	display: inline-block;
	padding: 0.375rem 0.75rem;
	background-color: transparent;
	border: 2px solid var(--primary-muted-2);
	border-radius: 0.25rem;
	transition:
		color 300ms ease,
		background-color 300ms ease;

	&:hover {
		color: var(--white);
		background-color: var(--primary);
	}

	&:focus-visible {
		outline: 2px solid var(--accent-3);
		color: var(--black);
		background-color: var(--accent-3);
	}
}

/* settings-form-title */
.settings-form-title {
	font-weight: 500;
	text-align: center;
	margin-bottom: 0.5rem;
}

/* board-list */
.board-list {
	display: grid;
	grid-template-columns: 1fr;
	gap: 0.75rem;
}

.form-control {
	display: grid;
	grid-template-columns: 1fr;
	gap: 0.5rem;
}

.check-control {
	display: flex;
	gap: 1.5rem;
}

input[type="checkbox"],
input[type="radio"] {
	accent-color: var(--primary);
	color: var(--white);
}

.board-title {
	padding: 0.25rem 0 0.25rem 0.5rem;
}

/* select-radio: I replaced the select list with range - switch back */
.slider-time {
	display: flex;
	gap: 1rem;
}

.play-slider {
	cursor: pointer;
	font-size: 1.125rem;
	font: inherit;
	color: var(--dark-gray);
	padding: 0.375rem 0.75rem;
	background-color: var(--white);
	border: 2px solid var(--primary-muted-1);
	border-radius: 0.25rem;
	transition:
		color 300ms ease,
		background-color 300ms ease;
		
	&:hover {
		color: var(--white);
		background-color: var(--primary);
	}

	&:focus-visible {
		color: var(--black);
		background-color: var(--accent-3);
		outline: 2px solid var(--accent-3);
	}
}

/* Mobile first media queries */
@media (width >= 470px) {
	.thumb-modal {
		width: 25em;
	}

	.modal-header {
		background-color: var(--primary-dark-1);
		padding: 1rem;
	}
}
@media (width >= 768px) {
	.image-text {
		grid-template-columns: 1fr 1fr;
		align-items: flex-start;
	}

	.editable {
		max-height: none;
		align-self: stretch;
	}
}

@media (width >= 962px) {
	.board-container {
		max-width: 1300px;
		width: 95%;
	}
}
