body {
  overflow-x: hidden;
}

.board-page {
  margin-top: 3rem;
}

.board-container {
  width: 90%;
  margin: 0 auto;
  text-align: center;
}

.layout-one {
  margin-bottom: 3rem;
}

.thumbnails-btn {
  font: inherit;
  position: absolute;
  top: 7.875rem;
  right: 8px;
  max-width: 16rem;
  transition: color 300ms ease, background-color 300ms ease;  

  display: inline-block;
  line-height: 1.1;
  padding: 0.375rem 0.75rem;
  background-color: hsl(146, 5%, 95%);
  border: 1px solid var(--black);
}

.thumbnails-btn:hover {
  color: var(--white);
  background-color: hsl(146, 50%, 36%);
}

/* Board page styles */
.thumbnails {
  border: 1px solid hsl(146, 20%, 80%);
  background-color: hsl(146, 10%, 90%);
  position: absolute;
  top: 10.5rem;
  right: 0;
  width: 250px;
  max-height: 100vh;
  overflow-y: auto;
  overflow-x: visible;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  box-shadow: 4px 0 10px hsla(146, 20%, 20%, 0.2);
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.thumbnails.offscreen {
  transform: translateX(100%);
  opacity: 0;
  pointer-events: none;
  padding: 0.25em 0.375em;
}

/* visible */
.thumbnails.onscreen {
  transform: translateX(0);
  opacity: 1;
  pointer-events: auto;
  padding: 0.25em 0.375em;
}

.thumbnails > * {
  border: 1px solid hsl(146, 30%, 50%);
  transition: opacity 0.3s ease;
}

.thumbnails img {
  width: 150px;
  height: auto;
  transition: opacity 300ms ease;
}

.thumbnails img:hover {
  cursor: pointer;
  opacity: 0.8;
}

/* new thumbnails elements */
.thumb-item {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem 0;
  overflow-x: visible;
  background-color: var(--white);
}

.thumb-btns {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  opacity: 0;
  pointer-events: none;
}

.thumb-item.selected .thumb-btns {
  opacity: 1;
  pointer-events: auto;
}

.thumb-btns button {
  align-self: center;
  line-height: 0;
  font-size: 1.5rem;
  line-height: 1;
  padding: 0 0.5rem 0.25rem;
  min-width: 24px;
  min-height: 24px;
  background-color: var(--white);
  border: 1px solid hsl(146, 20%, 60%);
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 300ms ease;
}

.thumb-btns button:hover {
  background-color: hsl(146, 20%, 80%);
}
.thumb-btns button:active {
  /* This looks bad: */
  background-color: hsl(43, 63%, 47%);
}

.move-down, .move-up {
  color: hsl(146, 29%, 30%);
}
.delete {
  color: rgb(221, 0, 0);
}
/* END new thumbnails elements */

.image-text {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  border: 1px solid hsl(146, 20%, 80%);
  align-items: center;
  justify-content: center;
  padding: 1rem;
  margin-bottom: 1rem;
  background-color: hsl(146, 10%, 90%);
}

.regular {
  width: 100%;
  height: auto;
  object-fit: contain;
  display: block;
  justify-self: center;
}

.editable {
  padding: 1rem;
  background-color: var(--white);
  color: var(--dark-gray);
  caret-color: hsl(146, 50%, 36%);
  text-align: left;
  border: 1px solid hsl(146, 20%, 60%);
  box-sizing: border-box;

  height: 30rem;
  overflow-y: auto;
  align-self: center;
}

.editable:focus {
  outline: 1px solid hsl(146, 50%, 36%);
}

/* goal-heading, figure and goal are old styles - I may not keep these */
.goal-heading {
  margin-top: 4rem;
}

figure {
  width: 60%;
  height: auto;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .image-text {
    grid-template-columns: 1fr 1fr;
    align-items: flex-start;
  }
}