/* 
  1. Resets, :root, and @font-face 
  2. Global styles
  3. Menu/Navigation styles
  4. Mobile first media queries
*/

/* 1. Resets, :root, and @font-face  */
*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

blockquote,
figure,
h1,
h2,
h3,
h4,
p {
	margin: 0;
}

ul {
	margin: 0;
	padding: 0;
}

img {
	max-width: 100%;
}

button,
input,
optgroup,
select,
textarea {
	font: inherit;
	margin: 0;
}

:root {
	--white: #fff;
	--dark-gray: #222;
	--text: #333;
	--primary: hsl(146deg 40% 37%);
	--primary-hi-lite: hsl(145deg 70% 35%);
	--primary-dark-1: hsl(146deg 29% 30%);
	--primary-dark-2: hsl(146deg 20% 20%);
	--primary-dark-3: hsl(146deg 15% 15%);
	--primary-dark-4: hsl(146deg 25% 25%);
	--primary-muted-1: hsl(146deg 20% 60%);
	--primary-muted-2: hsl(146deg 20% 80%);
	--primary-muted-3: hsl(146deg 10% 90%);
	--primary-muted-4: hsl(146deg 5% 95%);
	--primary-muted-5: hsl(146deg 15% 94%);
	--accent: hsl(43deg 63% 47%);
	--accent-3: hsl(43deg 75% 55%);
	--accent-4: hsl(43deg 100% 45%);
	--link-hover: hsl(43deg 97% 30%);
	--red: #af0000;
}

@font-face {
	font-family: "DM Sans";
	src: url("../fonts/DMSans-400-italic.woff2") format("woff2");
	font-weight: 400;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: "DM Sans";
	src: url("../fonts/DMSans-400-regular.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "DM Sans";
	src: url("../fonts/DMSans-500-regular.woff2") format("woff2");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "DM Sans";
	src: url("../fonts/DMSans-600-regular.woff2") format("woff2");
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: Inter;
	font-style: normal;
	font-weight: 100 900;
	font-display: swap;
	src: url("../fonts/Inter-Regular.woff2") format("woff2");
}

@font-face {
	font-family: Inter;
	font-style: italic;
	font-weight: 100 900;
	font-display: swap;
	src: url("../fonts/Inter-Italic.woff2") format("woff2");
}

@font-face {
	font-family: "Allura";
	src: url("../fonts/Allura.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

/* 2. Global styles */
body {
	margin: 0;
	font-size: 1.125rem;
	color: var(--text);
	line-height: 1.5;
	font-family: Inter, sans-serif;
	font-weight: 400;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

main {
	flex: 1 1 auto;
	margin-bottom: 4rem;
}

h1,
h2,
h3 {
	font-family: "DM Sans", sans-serif;
	font-optical-sizing: auto;
	line-height: 1.1;
	color: var(--text);
}

::selection {
	background-color: var(--primary-dark-4);
	color: var(--white);
}

/* Header, headings, container */
header {
	padding: 1rem 0;
	border-bottom: 2px solid var(--primary-muted-3);
}

h1 {
	font-size: clamp(2rem, 1.25rem + 2.5vw, 2.75rem);
	font-weight: 600;
	letter-spacing: 2px;
	margin: 2rem 0 1rem;
	padding: 0 1rem;
}

h2, h3 {
	font-weight: 600;
}

.container {
	width: 90%;
	margin: 0 auto;
	text-align: center;
}

/* Footer styles */
footer {
	padding: 3rem 0 0;
	margin-top: 3rem;
	color: var(--white);
	background-color: var(--primary-dark-3);
	min-height: 4rem;
}

.footer-heading {
	font-size: 1.75rem;
	font-weight: 400;
	color: var(--white);
}

.footer-flex {
	opacity: 0.8;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1rem;
	padding: 1.5rem 0;

	a {
		color: var(--primary-muted-2);
		transition: color 300ms ease;
		margin-bottom: -0.25em;

		&:hover {
			color: var(--accent-3);
		}
	}
}

.copyright {
	font-size: 0.875rem;
	color: var(--primary-muted-2);
}

/* 3. Menu/Navigation styles */
.skip-to-content {
	position: absolute;
	background: var(--primary-dark-2);
	color: var(--white);
	left: 50%;
	padding: 0.25em 0.5em;
	height: 2.125em;
	transform: translateY(-100%);
	transition: transform 300ms;
}

.skip-to-content:focus {
	left: 50%;
	transform: translateX(-50%);
	opacity: 1;
}

/* Nav styles that do not involve the mobile icon/menu */
.nav-bar {
	min-height: 4.5em;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0;
}

/* No logo, just text for the menu appearance */
.logo {
	color: var(--primary-dark-2);
	font-family: "Allura", cursive;
	font-weight: 600;
	letter-spacing: 0.125em;
	font-size: 2rem;
	transition: color 500ms ease;
	border: 1px solid transparent;
	z-index: 1;
}

/* Nav items */
.nav-item {
	margin: 1em 0;
}

.home-link,
.home-link:visited {
	text-decoration: none;
	border: 1px solid transparent;
	transition: 300ms ease;
	color: var(--primary-dark-2);
	font-weight: 600;
	font-size: 2rem;
	padding: 0.25em 0.5em;
}

.nav-link,
.nav-link:visited {
	color: var(--primary-dark-2);
	padding: 0.25em 0.5em;
	text-transform: uppercase;
	font-weight: 600;
	font-size: 1rem;
	text-decoration: none;
	border: 1px solid transparent;
	transition: 300ms ease;
}

.nav-link:hover,
.nav-link:focus,
.home-link:hover,
.home-link:focus {
	color: var(--link-hover);
	outline: none;
	border: 1px solid var(--link-hover);
}

/* Mobile nav starts here */
.nav-menu {
	list-style: none;
	position: fixed;
	top: -100%;
	padding: 0.5rem 0;
	background-color: transparent;
	width: 100%;
	text-align: center;
	transition: top 500ms ease-in-out;
}

.nav-menu > * {
	margin: 0.5rem 0;
}

.nav-menu.active {
	top: 0;
}

.hamburger {
	cursor: pointer;
	background-color: transparent;
	border: none;
	z-index: 1;
}

.bar {
	display: block;
	background-color: var(--primary-dark-2);
	width: 24px;
	/* The following 2 properties are essential in creating the "X" */
	height: 2px;
	margin: 6px auto;
	/* -webkit-transition: all 300ms ease;  */
	transition:
		transform 300ms ease-in-out,
		opacity 300ms ease-in-out;
}

.hamburger.active .bar:nth-child(2) {
	opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
	transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
	transform: translateY(-8px) rotate(-45deg);
}

/* Back To Top button */
#back-to-top-btn {
	display: none;
	position: fixed;
	font-size: 18px;
	width: 32px;
	height: 32px;
	bottom: 1rem;
	right: 1rem;
	font-weight: bolder;
	border: 2px solid var(--primary-muted-1);
	background-color: var(--primary-dark-1);
	color: var(--white);
	cursor: pointer;
	padding: 0.125em 0.25em;
	border-radius: 0.25em;
	transition:
		background-color 300ms ease,
		color 300ms ease;
	z-index: 999;
}

#back-to-top-btn:hover,
#back-to-top-btn:focus {
	background-color: var(--accent);
	color: var(--dark-gray);
	border: 2px solid var(--accent);
}

/* Animations */
.btn-entrance {
	animation-duration: 0.5s;
	animation-fill-mode: both;
	animation-name: btn-entrance;
}

/* fadeInUp */
@keyframes btn-entrance {
	from {
		opacity: 0;
		transform: translate3d(0, 100%, 0);
	}

	to {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}

.btn-exit {
	animation-duration: 0.25s;
	animation-fill-mode: both;
	animation-name: btn-exit;
}

/* fadeOutDown */
@keyframes btn-exit {
	from {
		opacity: 1;
	}

	to {
		opacity: 0;
		transform: translate3d(0, 100%, 0);
	}
}

/* 4. Mobile first media queries */
@media (width >= 768px) {
	h1 {
		font-size: 2.75rem;
		font-weight: 500;
	}
}

@media (width >= 962px) {
	.container {
		max-width: 1300px;
		width: 95%;
	}

	.logo {
		z-index: 0;
	}

	.nav-menu {
		position: static;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		gap: 1em;
		width: auto;
	}

	.hamburger {
		display: none;
		z-index: 0;
	}
}
