/* Headings */
.highlight {
  font-style: italic;
  color: var(--primary);
  // background-color: var(--accent-4);
  // padding: 0 0.25em;
}

.sub-title {
  margin-bottom: 1.5rem;
  font-size: 1.75rem;
}

.results-title {
  margin-bottom: 2rem;
}

.results-title.none {
  display: none;
}

.results-title.block {
  display: block;
}

/* Search form & search terms btns */
.search-form {
  margin-bottom: 2rem;
}

input[type="search"] {
  width: 100%;
  border-radius: 0.25rem;
  outline: 2px solid var(--primary-muted-2);
  border: none;
  background-color: var(--primary-muted-4);
  padding: 0.5rem 0.25rem 0.5rem 0.5rem;
}

input[type="search"]::placeholder {
  color: var(--primary-dark-1);
}

input[type="search"]:focus {
  outline: 2px solid var(--accent-4);
}

.search-terms {
  margin: 2rem 0 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

/* Search results grid + image cards */
.search-grid {
  --min-col-size: 300px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(var(--min-col-size), 1fr));
  gap: 1.5rem;
  justify-items: center;
}

.image-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  // background-color: var(--primary-muted-3);
  box-shadow: 0px 2px 8px 1px var(--primary-muted-2);
  border-radius: 0.25rem;
  overflow: hidden;
  border: 1px solid var(--primary-muted-2);
  width: 100%;
}

.result-image {
  /* width seems to have no affect, consider removing */
  width: 100%;
  height: 100%;
  /* Make sure all images/cards are the same size: */
  aspect-ratio: 1 / 1;
  /* object-fit maintains proportions, consider cover, contain & none also: */
  object-fit: contain;
  opacity: 0.8;
  transition: transform 300ms ease, opacity 300ms ease;
}

.result-image:hover {
  opacity: 1;
  cursor: pointer;
  transform: scale(1.03);
}

/* All Page Buttons */
.results-buttons {
  margin: 0.75rem 0;
  padding: 0 0.5em;
  display: grid;
  grid-template-columns: 1fr;
  align-items: end;
  gap: 0.5rem;
}

.search-terms button,
.results-buttons button,
.results-buttons .remove,
.load-more,
.clear-searches {
  cursor: pointer;
  color: var(--dark-gray);
  background-color: transparent;
  border: 2px solid var(--primary-muted-2);
  border-radius: 0.25rem;
  transition: background-color 300ms ease, border 300ms ease;
}

.search-terms button {
  padding: 0.375em 0.75em;
  font-style: italic;
}

.results-buttons button {
  font-size: 1rem;
  padding: 0.375em 0.125em;
}

.clear-searches {
  margin-bottom: 2rem;
}

.results-buttons .save {
  background-color: var(--primary);
  color: var(--white);
  transition: background-color 300ms ease, border 300ms ease;
}

.results-buttons .save:hover {
  color: var(--dark-gray);
}

.search-terms button:hover,
.load-more:hover,
.clear-searches:hover,
.results-buttons .save:hover,
.results-buttons .remove:hover {
  color: var(--dark-gray);
  background-color: var(--accent-3);
  border: 2px solid transparent;
}

.results-buttons button:focus-visible,
.search-terms button:focus-visible,
.load-more:focus-visible,
.clear-searches:focus-visible {
  outline: 2px solid var(--accent-3);
  background-color: var(--accent-3);
}

.load-more,
.clear-searches {
  width: 100%;
  padding: 0.5em 1em;
  margin-top: 3rem;
  font-size: 1.125rem;
}

.clear-searches.none {
  display: none;
}

.clear-searches.inline {
  display: inline;
}

.load-more.none {
  display: none;
}

.load-more.inline {
  display: inline;
}

/* Search term highlighting */
.load-more-search,
.h2-search-term {
  font-weight: 400;
  font-style: italic;
}

.load-more-search {
  font-size: 1.375rem;
}

.h2-search-term {
  font-size: 1.75rem;
}

/* Mobile first media queries */
@media (min-width: 430px) {
  .results-buttons {
    grid-template-columns: repeat(2, 1fr);
    margin: 0.75rem 0;
  }
}

@media (min-width: 693px) {
  .image-card {
    width: auto;
  }

  .result-image {
    object-fit: cover;
  }
}

@media (min-width: 768px) {
  .load-more,
  .clear-searches {
    width: 75%;
    font-size: 1.25rem;
  }

  .search-terms {
    gap: 1.5rem;
  }
}

@media (min-width: 962px) {
  .load-more,
  .clear-searches {
    width: 50%;
  }
}