/*
  1. Heading styles
  2. Search form & form elements
	3. Home page search results elements
	4. All Page Buttons
	5. Search term highlighting in load more btn and h2
  6. Mobile first media queries 
*/

/* 1. Heading styles */
.highlight {
	font-weight: 400;
	font-style: italic;
	letter-spacing: 1px;
	color: var(--primary-hi-lite);
	border-bottom: 1px solid var(--primary);
}

.sub-title {
	font-size: 1.75rem;
	margin: 1.5rem 0 2rem;
}

.results-title {
	margin-bottom: 2rem;
}

.results-title.none {
	display: none; /* Hidden when no search results are available */
}

.results-title.block {
	display: block;
}

/* 2. Search form & form elements */
.search-form {
	margin-bottom: 2rem;
}

input[type="search"] {
	width: 100%;
	border-radius: 0.25rem;
	outline: 2px solid var(--primary-muted-2);
	border: none;
	padding: 0.5rem 0.25rem 0.5rem 0.5rem;
	background-color: var(--primary-muted-3);
}

input[type="search"]::placeholder {
	color: var(--primary-dark-1);
}

input[type="search"]:focus {
	outline: 2px solid var(--accent-5);
}

.error-message {
	color: var(--red);
	text-align: left;
	padding-top: 0.5rem;
}

.error-message:empty {
	display: none;
}

/* 3. Home page search results elements */
.search-terms {
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
	margin: 2rem 0 1rem;
}

.search-grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	gap: 3rem 1.5rem;
	justify-items: center;
}

.image-card {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
	border-radius: 0.25rem;
	border: 1px solid var(--primary-muted-2);
	box-shadow: 0 2px 8px 2px var(--primary-muted-2);
	overflow: hidden; /* Contain image scaling */
	transition:
		opacity 300ms ease,
		transform 300ms ease;
}

/* Applied via JS when removing cards from the DOM */
.image-card.remove {
	opacity: 0;
	transform: scale(0.75);
}

.result-image {
	/* width & height only apply to images when screen width is >= 693px  */
	width: 100%;
	height: 100%;
	aspect-ratio: 1 / 1;
	object-fit: contain; /* Ensure image fits inside card without cropping */
	opacity: 0.8;
	transition:
		transform 300ms ease,
		opacity 300ms ease;

	&:hover {
		opacity: 1;
		cursor: pointer;
		transform: scale(1.03);
	}
}

/* 4. All Page Buttons */
.results-buttons {
	display: grid;
	grid-template-columns: 1fr;
	align-items: end;
	gap: 0.5rem;
	margin: 0.75rem 0;
	padding: 0 0.5em;
}

.search-terms button,
.results-buttons button,
.results-buttons .remove,
.clear-searches {
	cursor: pointer;
	color: var(--dark-gray);
	border: 2px solid var(--primary-muted-2);
	border-radius: 0.25rem;
	background-color: transparent;
	transition:
		background-color 300ms ease,
		border 300ms ease;
}

.search-terms button {
	font-style: italic;
	padding: 0.375em 0.75em;
}

.results-buttons button {
	font-size: 1rem;
	padding: 0.375em 0.125em;
}

.clear-searches {
	margin-bottom: 2rem;
}

.load-more {
	cursor: pointer;
	color: var(--white);
	background-color: var(--primary);
	border: 2px solid var(--primary-muted-2);
	border-radius: 0.25rem;
	transition:
		color 300ms ease,
		background-color 300ms ease,
		border 300ms ease;
}

.results-buttons .save {
	color: var(--white);
	background-color: var(--primary);
	transition:
		color 300ms ease,
		background-color 300ms ease,
		border 300ms ease;
}

.search-terms button:hover,
.load-more:hover,
.clear-searches:hover,
.results-buttons .save:hover,
.results-buttons .remove:hover {
	color: var(--dark-gray);
	background-color: var(--accent-3);
	border: 2px solid transparent;
}

.results-buttons button:focus-visible,
.search-terms button:focus-visible,
.load-more:focus-visible,
.clear-searches:focus-visible {
	background-color: var(--accent-3);
	outline: 2px solid var(--accent-3);
}

.load-more,
.clear-searches {
	font-size: 1.125rem;
	width: 100%;
	margin-top: 3rem;
	padding: 0.5em 1em;
}

.clear-searches.none {
	display: none; /* Hidden when no search results are available */
}

.clear-searches.inline {
	display: inline;
}

.load-more.none {
	display: none; /* Hidden when no search results are available */
}

.load-more.inline {
	display: inline;
}

/* 5. Search term highlighting in load more btn and h2 */
.load-more-search,
.h2-search-term {
	font-weight: 400;
	font-style: italic;
}

.load-more-search {
	font-size: 1.375rem;
}

.h2-search-term {
	font-size: 1.75rem;
}

/* 6. Mobile first media queries */
@media (width >= 430px) {
	.results-buttons {
		grid-template-columns: repeat(2, 1fr);
		margin: 0.75rem 0;
	}
}

@media (width >= 693px) {
	.image-card {
		width: auto;
	}

	.result-image {
		object-fit: cover; /* Use cover for multi-column layout to fill cards, allow cropping */
	}
}

@media (width >= 768px) {
	.load-more,
	.clear-searches {
		width: 75%;
		font-size: 1.25rem;
	}

	.search-terms {
		gap: 1.5rem;
	}
}

@media (width >= 962px) {
	.load-more,
	.clear-searches {
		width: 50%;
	}
}
