.modal-container {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.8);
}

.modal-container.show-modal {
  display: block;
}

.modal {
  display: flex;
  gap: 1rem;

  color: var(--white);
  background-color: rgba(0, 0, 0, 0.6);
  padding: 1rem 0;
  max-width: 100%;
  width: 90%;
  height: auto;
  border-radius: 0.5rem;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.25);

  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  
  transform: translate(-50%, -50%);
  animation-name: modalopen;
  animation-duration: 1000ms;
}

.modal .modal-image {
  display: block;
  width: auto;
  height: auto;
  max-width: 90vw;
  max-height: 80vh;
  object-fit: contain;
}

/* image above buttons */
.modal.landscape, .modal.square, .modal.portrait {
  flex-direction: column;
  align-items: center;
}

.modal.landscape .modal-image, .modal.square .modal-image {
  height: auto;
  max-height: 80vh;
}

.modal.square .modal-image {
  width: 70vw;
}

.modal.landscape .modal-image {
  width: 70vw;
}

.modal.portrait .modal-image {
  height: 80vh;
  width: auto;
  max-width: 60vw;
}

.modal-buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: end;
  gap: 1rem;
}

.modal-buttons button {
  cursor: pointer;
  font-size: 0.875rem;
  padding: 0.375em 0.75em;
  border-radius: 0.5rem;
  transition-duration: 300ms;
}


.modal-buttons button:hover {
  color: var(--white);
  background-color: var(--primary);
  border: 1px solid var(--white);
}

.modal-buttons button:active {
  border: 1px solid var(--accent);
  background-color: var(--accent);
  color: var(--black);
}

.modal .nav {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  color: var(--white);
  padding: 0.125rem .5rem 0.5rem;
  font-size: 2rem;
  line-height: 1;
  cursor: pointer;
  border-radius: 5px;
  z-index: 10;
}

.modal .prev,
.modal .next {
  background-color: var(--primary-dark-1);
  border: 1px solid transparent;
  transition: background-color 300ms ease, border 300ms ease;
}

.modal .prev:hover,
.modal .next:hover {
  border: 1px solid var(--white);
  background-color: var(--primary);
}

.modal .prev {
  left: 0.5rem;
}

.modal .next {
  right: 0.5rem;
}

@keyframes modalopen {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@media (min-width: 525px) {
  .modal.portrait .modal-image {
    max-width: 70vw;
  }
}

@media (min-width: 670px) {
  .modal.square .modal-image {
    max-width: 60vw;
  }
}

@media (min-width: 768px) {
  .modal {
    flex-direction: row;
  }
}

@media (min-width: 950px) {
  .modal.square .modal-image {
    max-width: 90vw;
  }
}
