*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  text-rendering: optimizeSpeed;
}

blockquote,
body,
figure,
h1,
h2,
h3,
h4,
p {
  margin: 0;
}

h1,
h2,
h3,
h4 {
  font-stretch: 100%;
  font-weight: 700;
  line-height: 1.1;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  // display: block;
}

button,
input,
optgroup,
select,
textarea {
  font: inherit;
  margin: 0;
}