/* settings-form offscreen onscreen */

.settings-form {
  position: fixed;
  top: 10.5rem;
  left: 0;
  z-index: 1000;

  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  gap: 1rem;

  background-color: var(--white);
  border: 1px solid hsl(146, 20%, 20%);
  padding: 0.75rem;
  width: 20rem;

  transition: transform 350ms ease;
}

.offscreen {
  transform: translateX(-100%);
}

.onscreen {
  transform: translateX(0);
}

/* settings-btn */
.settings-btn {
  cursor: pointer;
  font: inherit;
  font-size: 1.125rem;
  position: absolute;
  // top: 7.9375;
  left: 8px;
  min-width: 8.5rem;
  transition: color 300ms ease, background-color 300ms ease;
  
  display: inline-block;
  line-height: 1.1;
  padding: 0.375rem 0.75rem;
  background-color: hsl(146, 5%, 95%);
  border: 1px solid var(--black);
}

.settings-btn:hover {
  color: var(--white);
  background-color: hsl(146, 50%, 36%);
}

/* settings-form-title */
.settings-form-title {
  text-align: center;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

/* board-list */
.board-list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.375rem;
}

/* select-radio */
/* this class is on the container for the select element - WRONG! */
.select-radio {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;
  height: 100%;
}

/* label */
/* select */
/* option */
select {
  font-family: inherit;
  border: 1px solid var(--black);
}

option {
  font-size: 1rem;
}

/* I do not think this works, but the JS has not been created yet */
option:hover {
  color: var(--white);
  background-color: var(--black);
}

label {
  font-size: 1.125rem;
}



/* fieldset, legend: no css */
/* key */
.potrait-position, .landscape-position {
  display: flex;
  gap: 1rem;
}