@import url("./reset.css");
@import url("./fonts.css");
@import url("./home.css");
@import url("./modal.css");
@import url("./board.css");
@import url("./nav.css");
@import url("./settings.css");

/*
  -- 🔎 TOC - use term/phrase to search for sections 🔍 --
  1. Resets: at the very top so n/a + :root vars + @font-face
  2. Global styles
  3. Home page styles
  4. Home page modal styles
  5. Board page styles
  6. Board page modal styles
  7. Menu/Navigation styles
  8. Mobile first media queries
  - Settings styles - should be moved into board page
  - About page: if I have an about page (put below Board page)
*/

/* 1. Resets, :root, and @font-face  */

:root {
  --white: #ffffff;
  --black: #000000;
  --dark-gray: #222222;
  --text: #333333;

  --primary: hsl(146, 48%, 31%);
  --primary-dark-1: hsl(146, 29%, 30%);
  --primary-dark-2: hsl(146, 20%, 20%);
  --primary-muted-1: hsl(146, 20%, 60%);
  --primary-muted-2: hsl(146, 20%, 80%);
  --primary-muted-3: hsl(146, 10%, 90%);
  --primary-muted-4: hsl(146, 5%, 95%);

  --accent: hsl(43, 63%, 47%);
  --accent-2: hsl(43, 80%, 40%);
  --accent-3: hsl(43, 90%, 45%);
  --accent-4: hsl(43, 100%, 45%);
  --accent-5: hsl(43, 100%, 55%);
  --accent-6: hsl(43, 100%, 35%);
  --link-hover: hsl(43, 97%, 30%);
  --link-hover-2: hsl(39, 63%, 53%);
}

/* 2. Global styles */
body {
  font-size: 1.125rem;
  color: var(--text);
  line-height: 1.5;
  font-family: "Inter", sans-serif;
}

h1,
h2,
h3 {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  line-height: 1.2;
  color: var(--text);
}

:not(body)::selection {
  background-color: var(--primary-dark-2);
  color: var(--white);
}

/* Header, headings, container */
header {
  padding: 1rem 0;
  box-shadow: 0 1px var(--primary-muted-2);
}

h1 {
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 2px;
  
  margin: 2rem 0 1rem;
  padding: 0 1rem;
}

h2 {
  font-weight: 500;
}

.container {
  width: 90%;
  margin: 0 auto;
  text-align: center;
}

/* Footer styles */
footer {
  padding: 2.5rem 0 0;
  margin-top: 3rem;
  color: var(--white);
  background-color: var(--primary-dark-2);
}

.footer-heading {
  font-size: 1.75rem;
  font-weight: 200;
  color: var(--white);
}

.footer-flex {
  opacity: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1.5rem 0 1rem;
}

.footer-flex a {
  color: var(--primary-muted-2);
  transition: color 300ms ease;
}

.footer-flex a:hover {
  color: var(--accent-3);
}

.copyright {
  font-size: 0.875rem;
  color: var(--primary-muted-2);
}

/* 3. Home page styles */

/* 4. Home page modal styles */

/* 5. Board page styles */

/* 6. Board page modal styles */

/* 7. Menu/Navigation styles */

/* 8. Mobile first media queries */
@media (min-width: 768px) {
  h1 {
    font-size: 2.25rem;
  }
}

@media (min-width: 962px) {
  .container, .board-container {
    max-width: 1300px;
    width: 95%;
  }

  .logo {
    z-index: 0;
  }

  .nav-menu {
    position: static;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
    width: auto;
  }

  .hamburger {
    display: none;
    z-index: 0;
  }
}

