@import url("./reset.css");
@import url("./nav.css");
@import url("./settings.css");
@import url("./modal.css");
@import url("./board.css");

/* I need to get this for the Logo, although currently it is using
  Segoe script which looks good */
@font-face {
  font-family: "Dancing Script";
  src: url("./fonts/DancingScript-Regular.ttf");
  /* ttf is too big, I need woff2 */
  format: "ttf";
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "Dancing Script";
  src: url("./fonts/DancingScript-Medium.ttf");
  format: "ttf";
  font-style: normal;
  font-weight: 600;
}

:root {
  --white: #ffffff;
  --middle-gray: #787878;
  --text: #333333;
  --dark-gray: #222222;
  --black: #000000;

  --primary: hsl(146, 50%, 36%);
  --primary-dark-1: hsl(146, 29%, 30%);
  --primary-dark-2: hsl(146, 20%, 20%);
  --primary-muted-1: hsl(146, 20%, 60%);
  --primary-muted-2: hsl(146, 20%, 80%);
  --primary-muted-3: hsl(146, 10%, 90%);
  --primary-muted-4: hsl(146, 5%, 95%);

  --accent: hsl(43, 63%, 47%);
  --accent-2: hsl(39, 63%, 53%);
  --link-hover: hsl(39, 97%, 28%);
}

body {
  font-size: 1.125rem;
  color: var(--text);
  line-height: 1.5;
  font-family: "Open Sans", sans-serif;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header {
  padding: 1.5rem 0;
  box-shadow: 0 1px var(--primary-muted-2);
}

h1,
h2,
h3 {
  font-family: ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif;
  line-height: 1.2;
}

h1 {
  font-size: 2rem;
  margin: 2rem 0 1rem;
  padding: 0 1rem;
}

.sub-title {
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
}



:not(body)::selection {
  background-color: var(--primary-dark-2);
  color: var(--white);
}

.container {
  width: 90%;
  margin: 0 auto;
  text-align: center;
}

/* Search form */
.search-form {
  margin-bottom: 2rem;

  /* this padding should only be on small screens */
  // padding: 0 1rem;
}

input[type="search"] {
  width: 100%;
  border-radius: 0.5rem;
  outline: 2px solid var(--primary-muted-2);
  border: none;
  background-color: var(--primary-muted-4);
  padding: 0.5rem 0.25rem 0.5rem 0.5rem;
}

input[type="search"]::placeholder {
  color: var(--primary-dark-1);
}

input[type="search"]:focus {
  outline: 2px solid var(--primary-dark-1);
}

.search-terms {
  margin: 2rem 0 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

/* Image results grid */
.results-title {
  margin-bottom: 2rem;
}

.results-title.none {
  display: none;
}

.results-title.block {
  display: block;
}

.search-grid {
  --min-col-size: 300px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(var(--min-col-size), 1fr));
  gap: 1.5rem;
  justify-items: center;
}

.image-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--primary-muted-3);
  border-radius: 8px;
  overflow: hidden;
  border: 1px solid var(--primary-muted-2);
}

.results-buttons {
  margin: 0.75rem 0;
  padding: 0 0.5em;
  display: grid;
  grid-template-columns: 1fr;
  align-items: end;
  gap: 0.5rem;
}

.result-image {
  /* width seems to have no affect, consider removing */
  width: 100%;
  height: 100%;
  /* Make sure all images/cards are the same size: */
  aspect-ratio: 1 / 1;
  /* object-fit maintains proportions, consider contain & none also: */
  object-fit: cover;
  opacity: 0.8;
  transition: transform 300ms ease, opacity 300ms ease;
}

.result-image:hover {
  opacity: 1;
  cursor: pointer;
  transform: scale(1.03);
}

/* Buttons */
.search-terms button {
  padding: 0.375em 0.75em;
  background-color: transparent;
  border: 2px solid var(--primary-muted-2);
  border-radius: 0.5em;
  font-style: italic;
}

.search-terms button:hover {
  cursor: pointer;
}

.results-buttons button {
  cursor: pointer;
  font-size: 1rem;
  padding: 0.375em 0.125em;
}

.results-buttons button,
.search-terms button {
  border: 2px solid var(--primary-muted-2);
}

.clear-searches {
  margin-bottom: 2rem;
}

.load-more,
.clear-searches {
  border: 2px solid var(--primary-muted-2);
}

.results-buttons button,
.search-terms button,
.load-more,
.clear-searches {
  background-color: transparent;
  border-radius: 0.5rem;
  transition-duration: 300ms;
}

.results-buttons button:hover,
.search-terms button:hover,
.load-more:hover,
.clear-searches:hover {
  color: var(--white);
  background-color: var(--primary);
}

.results-buttons button:active,
.search-terms button:active,
.load-more:active,
.clear-searches:active {
  border: 2px solid var(--accent);
  background-color: var(--accent);
  color: var(--black);
}

.results-buttons button:focus-visible,
.search-terms button:focus-visible,
.load-more:focus-visible,
.clear-searches:focus-visible {
  outline: 2px solid var(--accent);
  background-color: var(--accent);
  color: var(--black);
}

.load-more,
.clear-searches {
  width: 100%;
  padding: 0.5em 1em;
  margin-top: 3rem;

  font-size: 1.125rem;
}

.clear-searches.none {
  display: none;
}

.clear-searches.inline {
  display: inline;
}

.load-more.none {
  display: none;
}

.load-more.inline {
  display: inline;
}

.load-more-search,
.h2-search-term {
  font-weight: 400;
  font-style: italic;
}

.load-more-search {
  font-size: 1.375rem;
}

.h2-search-term {
  font-size: 1.75rem;
}

/* Footer styles */
footer {
  padding: 2.5rem 0;
  margin-top: 3rem;
  background-color: var(--primary-dark-2);
}

.footer-heading {
  font-size: 1.75rem;
  font-weight: 200;
  color: var(--white)
}

.close-btn { 
  background-color: var(--primary-muted-2);
  color: var(--text);
  cursor: pointer;
  border: 1px solid var(--white);
  padding: 0.375em;
  font-size: 1rem;
  position: absolute;
  top: 2%;
  right: 2%;
  transition: color 300ms ease, background-color 300ms ease;
}

.close-btn:hover {
  background-color: var(--primary-dark-2);
  color: var(--white);
}

@media (min-width: 430px) {
  .results-buttons {
    grid-template-columns: repeat(2, 1fr);
    margin: 0.75rem 0;
  }
}

@media (min-width: 768px) {
  h1 {
    font-size: 2.25rem;
  }

  .load-more,
  .clear-searches {
    width: 75%;
    font-size: 1.25rem;
  }

  .search-terms {
    gap: 1.5rem;
  }
}

@media (min-width: 962px) {
  .container, .board-container {
    max-width: 1300px;
    width: 95%;
  }

  .logo {
    z-index: 0;
  }

  .nav-menu {
    position: static;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
    width: auto;
  }

  .hamburger {
    display: none;
    z-index: 0;
  }

  .load-more,
  .clear-searches {
    width: 50%;
  }
}

